
body {

background-color: black

}
.hero-image {

background-image: url(file:///Users/garnetdianthus/Repoman/unit-4-game/assets/images/crystalcollectorgame.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%

}

.hero-text {

color: ivory;
}


h1 {

font-family:'Amatic SC', cursive;
font-size: 50px;

}

#randomNumber {
font-family:'Amatic SC', cursive;
font-size: 50px;

}


h2 {

font-family:'Amatic SC', cursive;

}

h3{

font-family:'Amatic SC', cursive;

}

p {

font-size: 15px;
font-family:'Amatic SC', cursive;
word-spacing: 5px;
}

#one, #two, #three, #four {

font-family:'Amatic SC', cursive;
color: burlywood;
}


.panel-warning{

width: 125px;
display: inline-block;
}

.panel-heading {
height: 20px;
padding-top: 0;


}





